body {
  background-color: blanchedalmond;
  overflow-x: hidden;
}

.active {
  border: red solid 3px;
}

.view-info-mode {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: blue;
  width: 40em;
  height: 20em;
}

.settings-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.critter-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.caught-mode-button {
  margin: 1.5em;
  max-width: max-content;
}

.caught .fish-icon {
  opacity: 20%;
}

.fish-entry {
  padding: 1em;
}

.fish-entry:hover .fish-icon {
  opacity: 40%;
  cursor: pointer;
}

.fish-icon {
  width: 4em;
}

.entry-border {
  position: relative;
}

.entry-border,
.fish-display {
  border: 1.5px solid #5d2117;
}

.fish-display {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(16, 1fr);
  grid-auto-flow: column;
}

.tooltip {
  display: flex;
  justify-content: center;
  width: 6em;
}

.tooltip-text {
  visibility: hidden;
  margin-bottom: 2em;
  position: absolute;
  font-size: 0.8rem;
  width: max-content;
  padding: 0.5em;
  margin: 0;
  margin-bottom: 3em;
  border-radius: 1em;
  color: white;
  background-color: rgb(52, 46, 46);
  z-index: 1;
}

.entry-border:hover .tooltip-text {
  visibility: visible;
  cursor: pointer;
}

.unavailable {
  visibility: hidden;
}

.entry-border:hover .unavailable {
  visibility: hidden;
}

@media screen and (max-width: 1210px) {
  .critter-display {
    align-items: flex-start;
  }
}